src/main/resources/com/lestarieragemilang/app/desktop/system-administration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://javafx.com/javafx/22">
    <xs:element name="VBox">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="stylesheets">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="URL">
                                <xs:complexType>
                                    <xs:attribute name="value" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="children">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="HBox">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="padding">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Insets">
                                                        <xs:complexType>
                                                            <xs:attribute name="bottom"
                                                                type="xs:integer"
                                                                use="required" />
                                                            <xs:attribute name="left"
                                                                type="xs:integer"
                                                                use="required" />
                                                            <xs:attribute name="right"
                                                                type="xs:integer"
                                                                use="required" />
                                                            <xs:attribute name="top"
                                                                type="xs:integer"
                                                                use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="children">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Label">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="font">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="Font">
                                                                                <xs:complexType>
                                                                                    <xs:attribute
                                                                                        name="name"
                                                                                        use="required" />
                                                                                    <xs:attribute
                                                                                        name="size"
                                                                                        type="xs:decimal"
                                                                                        use="required" />
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute name="styleClass"
                                                                use="required" />
                                                            <xs:attribute name="text" use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Region">
                                                        <xs:complexType>
                                                            <xs:attribute name="HBox.hgrow"
                                                                use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Button">
                                                        <xs:complexType>
                                                            <xs:attribute name="onAction"
                                                                use="required" />
                                                            <xs:attribute name="styleClass"
                                                                use="required" />
                                                            <xs:attribute name="text" use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="alignment" use="required" />
                                    <xs:attribute name="spacing" type="xs:integer" use="required" />
                                    <xs:attribute name="styleClass" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="TabPane">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="tabs">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Tab" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="content">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="VBox">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element
                                                                                            name="padding">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element
                                                                                                        name="Insets">
                                                                                                        <xs:complexType>
                                                                                                            <xs:attribute
                                                                                                                name="bottom"
                                                                                                                type="xs:integer"
                                                                                                                use="required" />
                                                                                                            <xs:attribute
                                                                                                                name="left"
                                                                                                                type="xs:integer"
                                                                                                                use="required" />
                                                                                                            <xs:attribute
                                                                                                                name="right"
                                                                                                                type="xs:integer"
                                                                                                                use="required" />
                                                                                                            <xs:attribute
                                                                                                                name="top"
                                                                                                                type="xs:integer"
                                                                                                                use="required" />
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                        <xs:element
                                                                                            name="children">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence
                                                                                                    minOccurs="0">
                                                                                                    <xs:element
                                                                                                        name="TabPane"
                                                                                                        minOccurs="0">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element
                                                                                                                    name="tabs">
                                                                                                                    <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                            <xs:element
                                                                                                                                name="Tab"
                                                                                                                                maxOccurs="unbounded">
                                                                                                                                <xs:complexType>
                                                                                                                                    <xs:sequence>
                                                                                                                                        <xs:element
                                                                                                                                            name="content">
                                                                                                                                            <xs:complexType>
                                                                                                                                                <xs:sequence>
                                                                                                                                                    <xs:element
                                                                                                                                                        name="VBox">
                                                                                                                                                        <xs:complexType>
                                                                                                                                                            <xs:sequence>
                                                                                                                                                                <xs:element
                                                                                                                                                                    name="children">
                                                                                                                                                                    <xs:complexType>
                                                                                                                                                                        <xs:sequence>
                                                                                                                                                                            <xs:element
                                                                                                                                                                                name="TextField">
                                                                                                                                                                                <xs:complexType>
                                                                                                                                                                                    <xs:attribute
                                                                                                                                                                                        name="promptText"
                                                                                                                                                                                        use="required" />
                                                                                                                                                                                </xs:complexType>
                                                                                                                                                                            </xs:element>
                                                                                                                                                                            <xs:element
                                                                                                                                                                                name="PasswordField"
                                                                                                                                                                                maxOccurs="unbounded">
                                                                                                                                                                                <xs:complexType>
                                                                                                                                                                                    <xs:attribute
                                                                                                                                                                                        name="promptText"
                                                                                                                                                                                        use="required" />
                                                                                                                                                                                </xs:complexType>
                                                                                                                                                                            </xs:element>
                                                                                                                                                                            <xs:element
                                                                                                                                                                                name="Button">
                                                                                                                                                                                <xs:complexType>
                                                                                                                                                                                    <xs:attribute
                                                                                                                                                                                        name="onAction"
                                                                                                                                                                                        use="required" />
                                                                                                                                                                                    <xs:attribute
                                                                                                                                                                                        name="styleClass"
                                                                                                                                                                                        use="required" />
                                                                                                                                                                                    <xs:attribute
                                                                                                                                                                                        name="text"
                                                                                                                                                                                        use="required" />
                                                                                                                                                                                </xs:complexType>
                                                                                                                                                                            </xs:element>
                                                                                                                                                                            <xs:element
                                                                                                                                                                                name="ComboBox"
                                                                                                                                                                                minOccurs="0">
                                                                                                                                                                                <xs:complexType>
                                                                                                                                                                                    <xs:attribute
                                                                                                                                                                                        name="promptText"
                                                                                                                                                                                        use="required" />
                                                                                                                                                                                </xs:complexType>
                                                                                                                                                                            </xs:element>
                                                                                                                                                                        </xs:sequence>
                                                                                                                                                                    </xs:complexType>
                                                                                                                                                                </xs:element>
                                                                                                                                                            </xs:sequence>
                                                                                                                                                            <xs:attribute
                                                                                                                                                                name="spacing"
                                                                                                                                                                type="xs:integer"
                                                                                                                                                                use="required" />
                                                                                                                                                        </xs:complexType>
                                                                                                                                                    </xs:element>
                                                                                                                                                </xs:sequence>
                                                                                                                                            </xs:complexType>
                                                                                                                                        </xs:element>
                                                                                                                                    </xs:sequence>
                                                                                                                                    <xs:attribute
                                                                                                                                        name="text"
                                                                                                                                        use="required" />
                                                                                                                                </xs:complexType>
                                                                                                                            </xs:element>
                                                                                                                        </xs:sequence>
                                                                                                                    </xs:complexType>
                                                                                                                </xs:element>
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                    <xs:element
                                                                                                        name="HBox"
                                                                                                        minOccurs="0">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element
                                                                                                                    name="children">
                                                                                                                    <xs:complexType>
                                                                                                                        <xs:sequence
                                                                                                                            minOccurs="0">
                                                                                                                            <xs:element
                                                                                                                                name="VBox"
                                                                                                                                minOccurs="0">
                                                                                                                                <xs:complexType>
                                                                                                                                    <xs:sequence>
                                                                                                                                        <xs:element
                                                                                                                                            name="children">
                                                                                                                                            <xs:complexType>
                                                                                                                                                <xs:sequence
                                                                                                                                                    minOccurs="0">
                                                                                                                                                    <xs:element
                                                                                                                                                        name="Label"
                                                                                                                                                        minOccurs="0">
                                                                                                                                                        <xs:complexType>
                                                                                                                                                            <xs:sequence
                                                                                                                                                                minOccurs="0">
                                                                                                                                                                <xs:element
                                                                                                                                                                    name="font"
                                                                                                                                                                    minOccurs="0">
                                                                                                                                                                    <xs:complexType>
                                                                                                                                                                        <xs:sequence>
                                                                                                                                                                            <xs:element
                                                                                                                                                                                name="Font">
                                                                                                                                                                                <xs:complexType>
                                                                                                                                                                                    <xs:attribute
                                                                                                                                                                                        name="name"
                                                                                                                                                                                        use="required" />
                                                                                                                                                                                    <xs:attribute
                                                                                                                                                                                        name="size"
                                                                                                                                                                                        type="xs:decimal"
                                                                                                                                                                                        use="required" />
                                                                                                                                                                                </xs:complexType>
                                                                                                                                                                            </xs:element>
                                                                                                                                                                        </xs:sequence>
                                                                                                                                                                    </xs:complexType>
                                                                                                                                                                </xs:element>
                                                                                                                                                            </xs:sequence>
                                                                                                                                                            <xs:attribute
                                                                                                                                                                name="styleClass"
                                                                                                                                                                use="required" />
                                                                                                                                                            <xs:attribute
                                                                                                                                                                name="text"
                                                                                                                                                                use="required" />
                                                                                                                                                            <xs:attribute
                                                                                                                                                                name="underline"
                                                                                                                                                                type="xs:boolean" />
                                                                                                                                                        </xs:complexType>
                                                                                                                                                    </xs:element>
                                                                                                                                                    <xs:element
                                                                                                                                                        name="ImageView"
                                                                                                                                                        minOccurs="0">
                                                                                                                                                        <xs:complexType>
                                                                                                                                                            <xs:attribute
                                                                                                                                                                name="fitHeight"
                                                                                                                                                                type="xs:decimal"
                                                                                                                                                                use="required" />
                                                                                                                                                            <xs:attribute
                                                                                                                                                                name="fitWidth"
                                                                                                                                                                type="xs:decimal"
                                                                                                                                                                use="required" />
                                                                                                                                                            <xs:attribute
                                                                                                                                                                name="pickOnBounds"
                                                                                                                                                                type="xs:boolean"
                                                                                                                                                                use="required" />
                                                                                                                                                            <xs:attribute
                                                                                                                                                                name="preserveRatio"
                                                                                                                                                                type="xs:boolean"
                                                                                                                                                                use="required" />
                                                                                                                                                        </xs:complexType>
                                                                                                                                                    </xs:element>
                                                                                                                                                    <xs:element
                                                                                                                                                        name="Button"
                                                                                                                                                        minOccurs="0">
                                                                                                                                                        <xs:complexType>
                                                                                                                                                            <xs:attribute
                                                                                                                                                                name="onAction"
                                                                                                                                                                use="required" />
                                                                                                                                                            <xs:attribute
                                                                                                                                                                name="text"
                                                                                                                                                                use="required" />
                                                                                                                                                            <xs:attribute
                                                                                                                                                                name="styleClass" />
                                                                                                                                                        </xs:complexType>
                                                                                                                                                    </xs:element>
                                                                                                                                                    <xs:element
                                                                                                                                                        name="GridPane"
                                                                                                                                                        minOccurs="0">
                                                                                                                                                        <xs:complexType>
                                                                                                                                                            <xs:sequence>
                                                                                                                                                                <xs:element
                                                                                                                                                                    name="columnConstraints">
                                                                                                                                                                    <xs:complexType>
                                                                                                                                                                        <xs:sequence>
                                                                                                                                                                            <xs:element
                                                                                                                                                                                name="ColumnConstraints"
                                                                                                                                                                                maxOccurs="unbounded">
                                                                                                                                                                                <xs:complexType>
                                                                                                                                                                                    <xs:attribute
                                                                                                                                                                                        name="hgrow"
                                                                                                                                                                                        use="required" />
                                                                                                                                                                                    <xs:attribute
                                                                                                                                                                                        name="minWidth"
                                                                                                                                                                                        type="xs:integer"
                                                                                                                                                                                        use="required" />
                                                                                                                                                                                    <xs:attribute
                                                                                                                                                                                        name="prefWidth"
                                                                                                                                                                                        type="xs:integer" />
                                                                                                                                                                                </xs:complexType>
                                                                                                                                                                            </xs:element>
                                                                                                                                                                        </xs:sequence>
                                                                                                                                                                    </xs:complexType>
                                                                                                                                                                </xs:element>
                                                                                                                                                                <xs:element
                                                                                                                                                                    name="children">
                                                                                                                                                                    <xs:complexType>
                                                                                                                                                                        <xs:sequence>
                                                                                                                                                                            <xs:element
                                                                                                                                                                                name="Label"
                                                                                                                                                                                maxOccurs="unbounded">
                                                                                                                                                                                <xs:complexType>
                                                                                                                                                                                    <xs:attribute
                                                                                                                                                                                        name="text"
                                                                                                                                                                                        use="required" />
                                                                                                                                                                                    <xs:attribute
                                                                                                                                                                                        name="GridPane.columnIndex"
                                                                                                                                                                                        type="xs:integer"
                                                                                                                                                                                        use="required" />
                                                                                                                                                                                    <xs:attribute
                                                                                                                                                                                        name="GridPane.rowIndex"
                                                                                                                                                                                        type="xs:integer"
                                                                                                                                                                                        use="required" />
                                                                                                                                                                                </xs:complexType>
                                                                                                                                                                            </xs:element>
                                                                                                                                                                            <xs:element
                                                                                                                                                                                name="TextField"
                                                                                                                                                                                maxOccurs="unbounded">
                                                                                                                                                                                <xs:complexType>
                                                                                                                                                                                    <xs:attribute
                                                                                                                                                                                        name="GridPane.columnIndex"
                                                                                                                                                                                        type="xs:integer"
                                                                                                                                                                                        use="required" />
                                                                                                                                                                                    <xs:attribute
                                                                                                                                                                                        name="GridPane.rowIndex"
                                                                                                                                                                                        type="xs:integer"
                                                                                                                                                                                        use="required" />
                                                                                                                                                                                </xs:complexType>
                                                                                                                                                                            </xs:element>
                                                                                                                                                                            <xs:element
                                                                                                                                                                                name="ComboBox">
                                                                                                                                                                                <xs:complexType>
                                                                                                                                                                                    <xs:attribute
                                                                                                                                                                                        name="GridPane.columnIndex"
                                                                                                                                                                                        type="xs:integer"
                                                                                                                                                                                        use="required" />
                                                                                                                                                                                    <xs:attribute
                                                                                                                                                                                        name="GridPane.rowIndex"
                                                                                                                                                                                        type="xs:integer"
                                                                                                                                                                                        use="required" />
                                                                                                                                                                                </xs:complexType>
                                                                                                                                                                            </xs:element>
                                                                                                                                                                        </xs:sequence>
                                                                                                                                                                    </xs:complexType>
                                                                                                                                                                </xs:element>
                                                                                                                                                                <xs:element
                                                                                                                                                                    name="rowConstraints">
                                                                                                                                                                    <xs:complexType>
                                                                                                                                                                        <xs:sequence>
                                                                                                                                                                            <xs:element
                                                                                                                                                                                name="RowConstraints"
                                                                                                                                                                                maxOccurs="unbounded" />
                                                                                                                                                                        </xs:sequence>
                                                                                                                                                                    </xs:complexType>
                                                                                                                                                                </xs:element>
                                                                                                                                                            </xs:sequence>
                                                                                                                                                            <xs:attribute
                                                                                                                                                                name="hgap"
                                                                                                                                                                type="xs:integer"
                                                                                                                                                                use="required" />
                                                                                                                                                            <xs:attribute
                                                                                                                                                                name="vgap"
                                                                                                                                                                type="xs:integer"
                                                                                                                                                                use="required" />
                                                                                                                                                        </xs:complexType>
                                                                                                                                                    </xs:element>
                                                                                                                                                </xs:sequence>
                                                                                                                                            </xs:complexType>
                                                                                                                                        </xs:element>
                                                                                                                                    </xs:sequence>
                                                                                                                                    <xs:attribute
                                                                                                                                        name="styleClass" />
                                                                                                                                    <xs:attribute
                                                                                                                                        name="HBox.hgrow" />
                                                                                                                                    <xs:attribute
                                                                                                                                        name="alignment" />
                                                                                                                                    <xs:attribute
                                                                                                                                        name="prefWidth"
                                                                                                                                        type="xs:integer" />
                                                                                                                                    <xs:attribute
                                                                                                                                        name="spacing"
                                                                                                                                        type="xs:integer" />
                                                                                                                                </xs:complexType>
                                                                                                                            </xs:element>
                                                                                                                            <xs:element
                                                                                                                                name="TextField"
                                                                                                                                minOccurs="0">
                                                                                                                                <xs:complexType>
                                                                                                                                    <xs:attribute
                                                                                                                                        name="onKeyReleased"
                                                                                                                                        use="required" />
                                                                                                                                    <xs:attribute
                                                                                                                                        name="promptText"
                                                                                                                                        use="required" />
                                                                                                                                    <xs:attribute
                                                                                                                                        name="HBox.hgrow"
                                                                                                                                        use="required" />
                                                                                                                                </xs:complexType>
                                                                                                                            </xs:element>
                                                                                                                            <xs:element
                                                                                                                                name="Button"
                                                                                                                                minOccurs="0">
                                                                                                                                <xs:complexType>
                                                                                                                                    <xs:attribute
                                                                                                                                        name="onAction"
                                                                                                                                        use="required" />
                                                                                                                                    <xs:attribute
                                                                                                                                        name="styleClass"
                                                                                                                                        use="required" />
                                                                                                                                    <xs:attribute
                                                                                                                                        name="text"
                                                                                                                                        use="required" />
                                                                                                                                </xs:complexType>
                                                                                                                            </xs:element>
                                                                                                                        </xs:sequence>
                                                                                                                    </xs:complexType>
                                                                                                                </xs:element>
                                                                                                            </xs:sequence>
                                                                                                            <xs:attribute
                                                                                                                name="spacing"
                                                                                                                type="xs:integer"
                                                                                                                use="required" />
                                                                                                            <xs:attribute
                                                                                                                name="alignment" />
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                    <xs:element
                                                                                                        name="TableView"
                                                                                                        minOccurs="0">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element
                                                                                                                    name="columns">
                                                                                                                    <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                            <xs:element
                                                                                                                                name="TableColumn"
                                                                                                                                maxOccurs="unbounded">
                                                                                                                                <xs:complexType>
                                                                                                                                    <xs:attribute
                                                                                                                                        name="text"
                                                                                                                                        use="required" />
                                                                                                                                </xs:complexType>
                                                                                                                            </xs:element>
                                                                                                                        </xs:sequence>
                                                                                                                    </xs:complexType>
                                                                                                                </xs:element>
                                                                                                            </xs:sequence>
                                                                                                            <xs:attribute
                                                                                                                name="VBox.vgrow"
                                                                                                                use="required" />
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                    <xs:attribute
                                                                                        name="spacing"
                                                                                        type="xs:integer"
                                                                                        use="required" />
                                                                                    <xs:attribute
                                                                                        name="styleClass"
                                                                                        use="required" />
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute name="closable"
                                                                type="xs:boolean"
                                                                use="required" />
                                                            <xs:attribute name="text" use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="styleClass" use="required" />
                                    <xs:attribute name="VBox.vgrow" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="prefHeight" type="xs:decimal" use="required" />
            <xs:attribute name="prefWidth" type="xs:decimal" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>